.DS_Store
DinoDent.pro.user
installer/files/
installer/compiled
include/
/.vs/DinoDent
/bin
/dependencies
/database.db
/test.db
/DinoDent.vcxproj.user
/Resource.aps
/.vs
/src/Network/Calendar/Credentials.h
/src/Network/Calendar/Credentials.h
